apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: carts-metrics
  namespace: sock-shop       
  labels:
    release: prometheus      
spec:
  selector:
    matchLabels:
      app: carts
  namespaceSelector:
    matchNames:
      - sock-shop
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
