# carts service
carts:
  replicas: 1
  image:
    repository: weaveworksdemos/carts
    tag: 0.4.8
  service:
    port: 80
    containerPort: 80
    targetPort: 80
  resources:
    limits:
      cpu: 300m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi
  probes:
    path: /health
    livenessInitialDelay: 180
    readinessInitialDelay: 120
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 3
    targetCPU: 80
    targetMemory: 80
  prometheus:
    enabled: false
    scrape: true
    port: 80
    path: "metrics"

carts-db:
  replicas: 1  
  image:
    repository: mongo
    tag: "3.4"
  service:
    port: 27017
  resources:
    limits:
      cpu: 300m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi
# catalogue service
catalogue:
  replicas: 1
  image:
    repository: weaveworksdemos/catalogue
    tag: 0.3.5
  service:
    port: 80
    containerPort: 80
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  probes:
    path: /health
    livenessInitialDelay: 180
    readinessInitialDelay: 120
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 3
    targetCPU: 75
    targetMemory: 75
  prometheus:
    enabled: false
    scrape: true
    port: 80
    path: "metrics"

# catalogue-db service
catalogue-db:
  replicas: 1  
  image:
    repository: weaveworksdemos/catalogue-db
    tag: 0.3.0
  service:
    port: 3306
  env:
    MYSQL_ALLOW_EMPTY_PASSWORD: "true"
    MYSQL_DATABASE: socksdb
  resources:
    limits:
      cpu: 300m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi


# orders service
orders:
  replicas: 1
  image:
    repository: weaveworksdemos/orders
    tag: 0.4.7
  service:
    port: 80
    containerPort: 80
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi
  probes:
    path: /health
    livenessInitialDelay: 180
    readinessInitialDelay: 120
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 3
    targetCPU: 80
    targetMemory: 80
  prometheus:
    enabled: false
    scrape: true
    port: 80
    path: "metrics"

# orders-db service
orders-db:
  replicas: 1  
  image:
    repository: mongo
    tag: "3.4"
  service:
    port: 27017
  resources:
    limits:
      cpu: 300m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi

# user service
user:
  replicas: 1
  image:
    repository: weaveworksdemos/user
    tag: 0.4.4
  service:
    port: 80
    containerPort: 80
  env:
    MONGO_HOST: user-db:27017
  resources:
    limits:
      cpu: 300m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi
  probes:
    path: /health
    livenessInitialDelay: 180
    readinessInitialDelay: 120
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 10
    targetCPU: 80
    targetMemory: 80
  prometheus:
    enabled: false
    scrape: true
    port: 80
    path: "metrics"

# user-db service
user-db:
  replicas: 1 
  image:
    repository: weaveworksdemos/user-db 
    tag: 0.4.0
  service:
    port: 27017
  resources:
    limits:
      cpu: 300m
      memory: 512Mi
    requests:
      cpu: 70m
      memory: 128Mi
# shipping service
shipping:
  replicas: 1
  image:
    repository: weaveworksdemos/shipping
    tag: 0.4.8
  service:
    port: 80
    containerPort: 80
  resources:
    limits:
      cpu: 300m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi
  probes:
    path: /health
    livenessInitialDelay: 180
    readinessInitialDelay: 120
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 3
    targetCPU: 80
    targetMemory: 80
  prometheus:
    enabled: false
    scrape: true
    port: 80
    path: "metrics"

# queue-master service
queue-master:
  replicas: 1
  image:
    repository: weaveworksdemos/queue-master
    tag: 0.3.1
  service:
    port: 80
    containerPort: 80
  resources:
    limits:
      cpu: 300m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  probes:
    path: /health
    livenessInitialDelay: 180
    readinessInitialDelay: 120
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 3  
    targetCPU: 85
    targetMemory: 80
  prometheus:
    enabled: false
    scrape: true
    port: 80
    path: "/metrics"
  volumes:
    dockerSock: true  

# payment service
payment:
  replicas: 1
  image:
    repository: weaveworksdemos/payment
    tag: 0.4.3
  service:
    port: 80
    containerPort: 80
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  probes:
    path: /health
    livenessInitialDelay: 180
    readinessInitialDelay: 120
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 3
    targetCPU: 75
    targetMemory: 75
  prometheus:
    enabled: false
    scrape: true
    port: 80
    path: "metrics"

# rabbitmq service (message queue)
rabbitmq:
  replicas: 1  
  image:
    repository: rabbitmq
    tag: "3.6.8"

  resources:
    limits:
      cpu: 300m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi
  service:
    port: 5672
    managementPort: 15672  # RabbitMQ management UI

# front-end service (web UI)
front-end:
  replicas: 1
  image:
    repository: weaveworksdemos/front-end
    tag: 0.3.12
  service:
    port: 80  # Standard HTTP port
    containerPort: 8079  # App listens on 8079
  resources:
    limits:
      cpu: 300m
      memory: 256Mi  
    requests:
      cpu: 100m
      memory: 128Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 5  
    targetCPU: 70
    targetMemory: 80
  prometheus:
    enabled: false
    scrape: false  
  securityContext:
    capabilities:
      drop: ["ALL"]  

ingress:
  enabled: true
  name: socks-ingress
  host: localhost
  className: nginx
  replicaCount: 1  

