apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipping
  namespace: sock-shop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shipping
  template:
    metadata:
      labels:
        app: shipping
    spec:
      containers:
        - name: shipping
          image: weaveworksdemos/shipping:0.4.8
          ports:
          - name: http  
            containerPort: 80
          env:
            - name: JAVA_OPTS
              value: "-Xms64m -Xmx128m -XX:+UseG1GC -Djava.security.egd=file:/dev/urandom -Dspring.zipkin.enabled=false"
          volumeMounts:
            - name: tmp
              mountPath: /tmp
          securityContext:
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
              add: ["NET_BIND_SERVICE"]

          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 180  
            periodSeconds: 5
            timeoutSeconds: 2  
            failureThreshold: 3  
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 120   
            periodSeconds: 5
            timeoutSeconds: 2  
            failureThreshold: 3  
            successThreshold: 1

          resources:
            limits:
              cpu: 300m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 256Mi
      volumes:
        - name: tmp
          emptyDir:
            medium: Memory
---  
apiVersion: v1
kind: Service
metadata:
  name: shipping
  namespace: sock-shop
  labels:                    
    app: shipping               # ServiceMonitor looks for this label
spec:
  selector:
    app: shipping
  ports:
    - name: http     # important for ServiceMonitor
      port: 80
      targetPort: 80
