apiVersion: apps/v1
kind: Deployment
metadata:
  name: user
  namespace: sock-shop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      containers:
        - name: user
          image: weaveworksdemos/user:0.4.4
          ports:
          - name: http  
            containerPort: 80
          env:
            - name: MONGO_HOST
              value: user-db:27017
          securityContext:
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
              add: ["NET_BIND_SERVICE"]

          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 180 
            periodSeconds: 5
            timeoutSeconds: 2  
            failureThreshold: 3  
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 120   
            timeoutSeconds: 2  
            failureThreshold: 3  
            successThreshold: 1
          resources:
              limits:
                cpu: 300m
                memory: 256Mi
              requests:
                cpu: 100m
                memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: user
  namespace: sock-shop
  labels:                    
    app: user               # ServiceMonitor looks for this label
spec:
  selector:
    app: user
  ports:
    - name: http     # important for ServiceMonitor
      port: 80
      targetPort: 80
